<p><%= link_to "Download User details", users_index_path(format: :csv), class: "btn btn-success" %></p>
<p><%= link_to "Download Employee details", employees_index_path(format: :pdf), class: "btn btn-success" %></p>
<p><%= link_to "Mail Student details", students_send_mail_path, class: "btn btn-success" %></p>
<p><%= link_to "Go to ImagesController page", images_path, class: "btn btn-success" %></p>