@import "bootstrap-sprockets";
@import "bootstrap";

.btn {
  margin: 10px;
}

.error-count {
  color: rgba(255,0,0,.5);
}

.error-list {
  list-style: none;
  padding: 0.8rem;
  margin: 0;
}

.error-list-group {
  padding: 0.2rem;
  color: rgb(255,0,0);
}

.image-name, .image {
  padding: 10px;
}

#notice {
  color: green;
}