@import "bootstrap-sprockets";
@import "bootstrap";

h1{
  text-align: center;
}
body{
  font-family: Arial;
}
table{
  margin: auto;
  border-collapse: collapse;
}
th{
  padding:8px;
  border: 1px solid rgba(0,0,0,0.8);
}
td{
  padding:8px;
  text-align: center;
  border: 1px solid rgba(0,0,0,0.5);
}


.btn {
  margin: 10px;
}

.error-count {
  color: rgba(255,0,0,.5);
}

.error-list {
  list-style: none;
  padding: 0.8rem;
  margin: 0;
}

.error-list-group {
  padding: 0.2rem;
  color: rgb(255,0,0);
}

.image-name, .image {
  padding: 10px;
}

#notice {
  color: green;
}